:root {
--neutral-color-components: 102, 112, 133;
--neutral-color-components-25: 248.85257021276598, 249.31478297872343, 250.28542978723405;
--neutral-color-components-50: 247.7285787234042, 248.27530212765956, 249.42342127659572;
--neutral-color-components-100: 243.2326127659574, 244.11737872340424, 245.97538723404259;
--neutral-color-components-200: 225.2487489361702, 227.48568510638296, 232.18325106382977;
--neutral-color-components-300: 195.2756425531915, 199.76619574468086, 209.1963574468085;
--neutral-color-components-400: 153.31329361702126, 160.95891063829788, 177.0147063829787;
--neutral-color-components-500: 101.99999999999997, 112, 133;
--neutral-color-components-600: 86.02723404255318, 94.46127659574468, 112.17276595744681;
--neutral-color-components-700: 70.05446808510636, 76.92255319148936, 91.34553191489363;
--neutral-color-components-800: 54.081702127659575, 59.38382978723405, 70.51829787234043;
--neutral-color-components-900: 38.10893617021276, 41.84510638297873, 49.69106382978724;
--neutral-color-components-950: 30.122553191489366, 33.075744680851074, 39.277446808510646;
--primary-color-components: 158, 119, 237;
--primary-color-components-25: 247.9672556205701, 244.5489165806818, 254.89158341931818;
--primary-color-components-50: 247.2521251041162, 243.49081905714283, 254.87118094285714;
--primary-color-components-100: 244.39746439973587, 239.2757199792208, 254.7722800207792;
--primary-color-components-200: 233.07260336517717, 222.69197992727266, 254.10002007272732;
--primary-color-components-300: 214.5312813136694, 196.03607987532467, 251.99592012467528;
--primary-color-components-400: 189.27366775434734, 160.78351987532463, 246.98448012467531;
--primary-color-components-500: 158.00000000000006, 119, 236.99999999999997;
--primary-color-components-600: 129.93360334580677, 85.73412987012985, 219.46587012987013;
--primary-color-components-700: 103.9271318511997, 58.54503896103898, 195.854961038961;
--primary-color-components-800: 87.08235967422412, 58.38296103896104, 145.21703896103895;
--primary-color-components-900: 68.28744001760951, 52.46794805194804, 100.33205194805194;
--primary-color-components-950: 58.158674884437595, 47.353090909090895, 80.04690909090908;
--secondary-color-components: 158, 119, 237;
--secondary-color-components-25: 247.9672556205701, 244.5489165806818, 254.89158341931818;
--secondary-color-components-50: 247.2521251041162, 243.49081905714283, 254.87118094285714;
--secondary-color-components-100: 244.39746439973587, 239.2757199792208, 254.7722800207792;
--secondary-color-components-200: 233.07260336517717, 222.69197992727266, 254.10002007272732;
--secondary-color-components-300: 214.5312813136694, 196.03607987532467, 251.99592012467528;
--secondary-color-components-400: 189.27366775434734, 160.78351987532463, 246.98448012467531;
--secondary-color-components-500: 158.00000000000006, 119, 236.99999999999997;
--secondary-color-components-600: 129.93360334580677, 85.73412987012985, 219.46587012987013;
--secondary-color-components-700: 103.9271318511997, 58.54503896103898, 195.854961038961;
--secondary-color-components-800: 87.08235967422412, 58.38296103896104, 145.21703896103895;
--secondary-color-components-900: 68.28744001760951, 52.46794805194804, 100.33205194805194;
--secondary-color-components-950: 58.158674884437595, 47.353090909090895, 80.04690909090908;
--success-color-components: 23, 178, 106;
--success-color-components-25: 244.16532792947757, 254.8876720705224, 249.90697027597253;
--success-color-components-50: 241.95765194626864, 254.85434805373134, 248.86362470058737;
--success-color-components-100: 233.162051438806, 254.68594856119404, 244.68775118821378;
--success-color-components-200: 198.54130421492536, 253.45069578507463, 227.9443977653924;
--success-color-components-300: 142.83705370746267, 249.3949462925373, 199.89708651108327;
--success-color-components-400: 69.04479221492535, 239.52320778507462, 160.33323410087627;
--success-color-components-500: 23.000000000000004, 178.00000000000003, 106;
--success-color-components-600: 31.083462686567184, 150.11653731343281, 94.8237542609533;
--success-color-components-700: 36.90519402985076, 124.49480597014924, 83.80801848820413;
--success-color-components-800: 40.46519402985075, 101.13480597014926, 72.95279268175253;
--success-color-components-900: 41.76346268656717, 80.03653731343283, 62.25807684159846;
--success-color-components-950: 41.56444776119403, 70.33555223880597, 56.97091015888301;
--error-color-components: 240, 68, 56;
--error-color-components-25: 254.89129607278042, 245.08347080627792, 244.39920392721962;
--error-color-components-50: 254.87026576261684, 243.67294281511576, 242.8917342373831;
--error-color-components-100: 254.7723665943925, 238.04281165705, 236.87563340560752;
--error-color-components-200: 254.16032308037384, 215.71397993010962, 213.03167691962608;
--error-color-components-300: 252.35643956635516, 179.18083515969116, 174.0755604336448;
--error-color-components-400: 248.18499956635512, 129.46573950751724, 121.18300043364484;
--error-color-components-500: 239.99999999999997, 68.00000000000001, 56;
--error-color-components-600: 220.60029906542056, 48.59973994311256, 36.59970093457943;
--error-color-components-700: 174.27095327102805, 52.61656237301909, 44.12904672897194;
--error-color-components-800: 131.4604859813084, 53.57349045103618, 48.1395140186916;
--error-color-components-900: 93.77016822429906, 50.078114587566034, 47.029831775700934;
--error-color-components-950: 76.84506542056074, 46.660812677773265, 44.554934579439255;
--warning-color-components: 247, 144, 9;
--warning-color-components-25: 254.8913240957677, 250.30732718934692, 244.2991759042323;
--warning-color-components-50: 254.87090332755903, 249.5132559095878, 242.491096672441;
--warning-color-components-100: 254.78332442204726, 246.3361780735526, 235.26467557795277;
--warning-color-components-200: 254.3386754771653, 233.61518325743398, 206.45332452283466;
--warning-color-components-300: 253.26218653228344, 212.3684284413154, 158.76981346771655;
--warning-color-components-400: 251.0507465322835, 182.5282684413154, 92.7172534677165;
--warning-color-components-500: 247.00000000000003, 143.99999999999994, 8.999999999999968;
--warning-color-components-600: 201.5096692913386, 124.55424124925557, 23.69033070866141;
--warning-color-components-700: 159.62229921259842, 105.59291417984512, 34.777700787401564;
--warning-color-components-800: 122.27489763779528, 87.24200304373717, 41.325102362204724;
--warning-color-components-900: 89.46746456692912, 69.50150784093162, 43.33253543307086;
--warning-color-components-950: 74.76623622047244, 60.86016621451729, 42.633763779527555;
--info-color-components: 102, 112, 133;
--info-color-components-25: 244.25813487553194, 247.68449947196297, 254.87986512446813;
--info-color-components-50: 242.33496098723398, 246.36143776966367, 254.81703901276595;
--info-color-components-100: 234.7685877106383, 241.11401499409746, 254.4394122893617;
--info-color-components-200: 206.5242510297872, 220.84150842992452, 250.90774897021277;
--info-color-components-300: 166.63669051914897, 189.60398695840772, 237.835309480851;
--info-color-components-400: 125.8854071148936, 151.2264347827042, 204.44259288510636;
--info-color-components-500: 101.99999999999997, 112, 133;
--info-color-components-600: 89.0355744680851, 98.819074811256, 119.36442553191486;
--info-color-components-700: 76.43336170212767, 85.76667673301306, 105.36663829787234;
--info-color-components-800: 64.19336170212766, 72.84280576527112, 91.00663829787234;
--info-color-components-900: 52.31557446808512, 60.04746190803021, 76.28442553191488;
--info-color-components-950: 46.51251063829786, 53.69798764584764, 68.78748936170211;
}