$primary-color: #9E77ED;
$primary-color-25: #F9F5FF;
$primary-color-50: #F3ECFF;
$primary-color-100: #E8DAFF;
$primary-color-200: #D3BAFF;
$primary-color-300: #C09FFF;
$primary-color-400: #AE89FA;
$primary-color-500: #9E77ED;
$primary-color-600: #7749D3;
$primary-color-700: #5A3A9C;
$primary-color-800: #40315D;
$primary-color-900: #221E29;
$primary-color-950: #111013;
$secondary-color: #9E77ED;
$secondary-color-25: #F9F5FF;
$secondary-color-50: #F3ECFF;
$secondary-color-100: #E8DAFF;
$secondary-color-200: #D3BAFF;
$secondary-color-300: #C09FFF;
$secondary-color-400: #AE89FA;
$secondary-color-500: #9E77ED;
$secondary-color-600: #7749D3;
$secondary-color-700: #5A3A9C;
$secondary-color-800: #40315D;
$secondary-color-900: #221E29;
$secondary-color-950: #111013;
$neutral-color: #667085;
$neutral-color-25: #F4F7FC;
$neutral-color-50: #EAEFF8;
$neutral-color-100: #D6DFF1;
$neutral-color-200: #B2C0DE;
$neutral-color-300: #93A4C6;
$neutral-color-400: #7988A9;
$neutral-color-500: #667085;
$neutral-color-600: #545A68;
$neutral-color-700: #41454C;
$neutral-color-800: #2D2E31;
$neutral-color-900: #171718;
$neutral-color-950: #0C0C0C;
$success-color: #17B26A;
$success-color-25: #F0FEF8;
$success-color-50: #E2FDF1;
$success-color-100: #C5FBE2;
$success-color-200: #8DF5C5;
$success-color-300: #57EEA8;
$success-color-400: #21E68A;
$success-color-500: #17B26A;
$success-color-600: #1F8254;
$success-color-700: #20583E;
$success-color-800: #1C3529;
$success-color-900: #111714;
$success-color-950: #090B0A;
$error-color: #F04438;
$error-color-25: #FFF4F4;
$error-color-50: #FFEAE9;
$error-color-100: #FFD6D3;
$error-color-200: #FFAEA9;
$error-color-300: #FD8981;
$error-color-400: #F7665B;
$error-color-500: #F04438;
$error-color-600: #C83025;
$error-color-700: #87312B;
$error-color-800: #502927;
$error-color-900: #231919;
$error-color-950: #100E0E;
$warning-color: #F79009;
$warning-color-25: #FFF9F2;
$warning-color-50: #FFF4E6;
$warning-color-100: #FEE9CD;
$warning-color-200: #FDD39C;
$warning-color-300: #FBBD6A;
$warning-color-400: #F9A639;
$warning-color-500: #F79009;
$warning-color-600: #B3711A;
$warning-color-700: #785322;
$warning-color-800: #463620;
$warning-color-900: #1E1A15;
$warning-color-950: #0E0D0C;
$info-color: #667085;
$info-color-25: #F4F7FC;
$info-color-50: #EAEFF8;
$info-color-100: #D6DFF1;
$info-color-200: #B2C0DE;
$info-color-300: #93A4C6;
$info-color-400: #7988A9;
$info-color-500: #667085;
$info-color-600: #545A68;
$info-color-700: #41454C;
$info-color-800: #2D2E31;
$info-color-900: #171718;
$info-color-950: #0C0C0C;
