:root {
--primary-color: #7C4DDB;
--primary-color-50: #F8F6FD;
--primary-color-100: #F2EDFB;
--primary-color-200: #DED3F6;
--primary-color-300: #CBB8F1;
--primary-color-400: #A382E6;
--primary-color-500: #7C4DDB;
--primary-color-600: #7045C5;
--primary-color-700: #4A2E83;
--primary-color-800: #382363;
--primary-color-900: #251742;
--primary-color-950: #190F2C;
--secondary-color: #D04530;
--secondary-color-50: #FDF6F5;
--secondary-color-100: #FAECEA;
--secondary-color-200: #F3D1CB;
--secondary-color-300: #ECB5AC;
--secondary-color-400: #DE7D6E;
--secondary-color-500: #D04530;
--secondary-color-600: #BB3E2B;
--secondary-color-700: #7D291D;
--secondary-color-800: #5E1F16;
--secondary-color-900: #3E150E;
--secondary-color-950: #2A0E0A;
--success-color: #17B26A;
--success-color-50: #F3FBF8;
--success-color-100: #E8F7F0;
--success-color-200: #C5ECDA;
--success-color-300: #A2E0C3;
--success-color-400: #5DC997;
--success-color-500: #17B26A;
--success-color-600: #15A05F;
--success-color-700: #0E6B40;
--success-color-800: #0A5030;
--success-color-900: #073520;
--success-color-950: #052415;
--error-color: #F04438;
--error-color-50: #FEF6F5;
--error-color-100: #FEECEB;
--error-color-200: #FBD0CD;
--error-color-300: #F9B4AF;
--error-color-400: #F57C74;
--error-color-500: #F04438;
--error-color-600: #D83D32;
--error-color-700: #902922;
--error-color-800: #6C1F19;
--error-color-900: #481411;
--error-color-950: #300E0B;
--warning-color: #F79009;
--warning-color-50: #FFF9F3;
--warning-color-100: #FEF4E6;
--warning-color-200: #FDE3C2;
--warning-color-300: #FCD39D;
--warning-color-400: #F9B153;
--warning-color-500: #F79009;
--warning-color-600: #DE8208;
--warning-color-700: #945605;
--warning-color-800: #6F4104;
--warning-color-900: #4A2B03;
--warning-color-950: #311D02;
--info-color: #667085;
--info-color-50: #F7F8F9;
--info-color-100: #F0F1F3;
--info-color-200: #D9DBE1;
--info-color-300: #C2C6CE;
--info-color-400: #949BAA;
--info-color-500: #667085;
--info-color-600: #5C6578;
--info-color-700: #3D4350;
--info-color-800: #2E323C;
--info-color-900: #1F2228;
--info-color-950: #14161B;
--neutral-color: #667085;
--neutral-color-50: #F7F8F9;
--neutral-color-100: #F0F1F3;
--neutral-color-200: #D9DBE1;
--neutral-color-300: #C2C6CE;
--neutral-color-400: #949BAA;
--neutral-color-500: #667085;
--neutral-color-600: #5C6578;
--neutral-color-700: #3D4350;
--neutral-color-800: #2E323C;
--neutral-color-900: #1F2228;
--neutral-color-950: #14161B;
}