$primary-color: #9E77ED;
$primary-color-25: #FAF8FE;
$primary-color-50: #F5F1FD;
$primary-color-100: #ECE4FB;
$primary-color-200: #D8C9F8;
$primary-color-300: #C5ADF4;
$primary-color-400: #B192F1;
$primary-color-500: #9E77ED;
$primary-color-600: #7138E5;
$primary-color-700: #4F19BD;
$primary-color-800: #35117E;
$primary-color-900: #1A083F;
$primary-color-950: #0D041F;
$secondary-color: #9E77ED;
$secondary-color-25: #FAF8FE;
$secondary-color-50: #F5F1FD;
$secondary-color-100: #ECE4FB;
$secondary-color-200: #D8C9F8;
$secondary-color-300: #C5ADF4;
$secondary-color-400: #B192F1;
$secondary-color-500: #9E77ED;
$secondary-color-600: #7138E5;
$secondary-color-700: #4F19BD;
$secondary-color-800: #35117E;
$secondary-color-900: #1A083F;
$secondary-color-950: #0D041F;
$neutral-color: #667085;
$neutral-color-25: #F7F8F9;
$neutral-color-50: #EFF1F3;
$neutral-color-100: #E0E2E7;
$neutral-color-200: #C1C5CF;
$neutral-color-300: #A2A9B7;
$neutral-color-400: #828CA0;
$neutral-color-500: #667085;
$neutral-color-600: #525A6A;
$neutral-color-700: #3D4350;
$neutral-color-800: #292D35;
$neutral-color-900: #14161B;
$neutral-color-950: #0A0B0D;
$success-color: #17B26A;
$success-color-25: #F1FDF8;
$success-color-50: #E4FBF0;
$success-color-100: #C8F8E2;
$success-color-200: #92F1C5;
$success-color-300: #5BEAA7;
$success-color-400: #24E38A;
$success-color-500: #17B26A;
$success-color-600: #128E55;
$success-color-700: #0E6B40;
$success-color-800: #09472A;
$success-color-900: #052415;
$success-color-950: #02120B;
$error-color: #F04438;
$error-color-25: #FEF6F5;
$error-color-50: #FEECEB;
$error-color-100: #FCDAD7;
$error-color-200: #F9B4AF;
$error-color-300: #F68F88;
$error-color-400: #F36960;
$error-color-500: #F04438;
$error-color-600: #DC1E11;
$error-color-700: #A5160C;
$error-color-800: #6E0F08;
$error-color-900: #370704;
$error-color-950: #1C0402;
$warning-color: #F79009;
$warning-color-25: #FFF9F3;
$warning-color-50: #FEF4E6;
$warning-color-100: #FDE9CE;
$warning-color-200: #FCD39D;
$warning-color-300: #FABC6B;
$warning-color-400: #F9A63A;
$warning-color-500: #F79009;
$warning-color-600: #C67306;
$warning-color-700: #955605;
$warning-color-800: #633A03;
$warning-color-900: #321D02;
$warning-color-950: #190E01;
$info-color: #667085;
$info-color-25: #F7F8F9;
$info-color-50: #EFF1F3;
$info-color-100: #E0E2E7;
$info-color-200: #C1C5CF;
$info-color-300: #A2A9B7;
$info-color-400: #828CA0;
$info-color-500: #667085;
$info-color-600: #525A6A;
$info-color-700: #3D4350;
$info-color-800: #292D35;
$info-color-900: #14161B;
$info-color-950: #0A0B0D;
