:root {
--neutral-color: #667085;
--neutral-color-25: #F9F9FA;
--neutral-color-50: #F8F8F9;
--neutral-color-100: #F3F4F6;
--neutral-color-200: #E1E3E8;
--neutral-color-300: #C3C8D1;
--neutral-color-400: #99A1B1;
--neutral-color-500: #667085;
--neutral-color-600: #565E70;
--neutral-color-700: #464D5B;
--neutral-color-800: #363B47;
--neutral-color-900: #262A32;
--neutral-color-950: #1E2127;
--primary-color: #9E77ED;
--primary-color-25: #F8F5FF;
--primary-color-50: #F7F3FF;
--primary-color-100: #F4EFFF;
--primary-color-200: #E9DFFE;
--primary-color-300: #D7C4FC;
--primary-color-400: #BDA1F7;
--primary-color-500: #9E77ED;
--primary-color-600: #8256DB;
--primary-color-700: #683BC4;
--primary-color-800: #573A91;
--primary-color-900: #443464;
--primary-color-950: #3A2F50;
--secondary-color: #9E77ED;
--secondary-color-25: #F8F5FF;
--secondary-color-50: #F7F3FF;
--secondary-color-100: #F4EFFF;
--secondary-color-200: #E9DFFE;
--secondary-color-300: #D7C4FC;
--secondary-color-400: #BDA1F7;
--secondary-color-500: #9E77ED;
--secondary-color-600: #8256DB;
--secondary-color-700: #683BC4;
--secondary-color-800: #573A91;
--secondary-color-900: #443464;
--secondary-color-950: #3A2F50;
--success-color: #17B26A;
--success-color-25: #F4FFFA;
--success-color-50: #F2FFF9;
--success-color-100: #E9FFF5;
--success-color-200: #C7FDE4;
--success-color-300: #8FF9C8;
--success-color-400: #45F0A0;
--success-color-500: #17B26A;
--success-color-600: #1F965F;
--success-color-700: #257C54;
--success-color-800: #286549;
--success-color-900: #2A503E;
--success-color-950: #2A4639;
--error-color: #F04438;
--error-color-25: #FFF5F4;
--error-color-50: #FFF4F3;
--error-color-100: #FFEEED;
--error-color-200: #FED8D5;
--error-color-300: #FCB3AE;
--error-color-400: #F88179;
--error-color-500: #F04438;
--error-color-600: #DD3125;
--error-color-700: #AE352C;
--error-color-800: #833630;
--error-color-900: #5E322F;
--error-color-950: #4D2F2D;
--warning-color: #F79009;
--warning-color-25: #FFFAF4;
--warning-color-50: #FFFAF2;
--warning-color-100: #FFF6EB;
--warning-color-200: #FEEACE;
--warning-color-300: #FDD49F;
--warning-color-400: #FBB75D;
--warning-color-500: #F79009;
--warning-color-600: #CA7D18;
--warning-color-700: #A06A23;
--warning-color-800: #7A5729;
--warning-color-900: #59462B;
--warning-color-950: #4B3D2B;
--info-color: #667085;
--info-color-25: #F4F8FF;
--info-color-50: #F2F6FF;
--info-color-100: #EBF1FE;
--info-color-200: #CFDDFB;
--info-color-300: #A7BEEE;
--info-color-400: #7E97CC;
--info-color-500: #667085;
--info-color-600: #596377;
--info-color-700: #4C5669;
--info-color-800: #40495B;
--info-color-900: #343C4C;
--info-color-950: #2F3645;
}