:root {
--primary-color-component: 124, 77, 219;
--primary-color-component-50: 248, 246, 253;
--primary-color-component-100: 242, 237, 251;
--primary-color-component-200: 222, 211, 246;
--primary-color-component-300: 203, 184, 241;
--primary-color-component-400: 163, 130, 230;
--primary-color-component-500: 124, 77, 219;
--primary-color-component-600: 112, 69, 197;
--primary-color-component-700: 74, 46, 131;
--primary-color-component-800: 56, 35, 99;
--primary-color-component-900: 37, 23, 66;
--primary-color-component-950: 25, 15, 44;
--secondary-color-component: 208, 69, 48;
--secondary-color-component-50: 253, 246, 245;
--secondary-color-component-100: 250, 236, 234;
--secondary-color-component-200: 243, 209, 203;
--secondary-color-component-300: 236, 181, 172;
--secondary-color-component-400: 222, 125, 110;
--secondary-color-component-500: 208, 69, 48;
--secondary-color-component-600: 187, 62, 43;
--secondary-color-component-700: 125, 41, 29;
--secondary-color-component-800: 94, 31, 22;
--secondary-color-component-900: 62, 21, 14;
--secondary-color-component-950: 42, 14, 10;
--success-color-component: 23, 178, 106;
--success-color-component-50: 243, 251, 248;
--success-color-component-100: 232, 247, 240;
--success-color-component-200: 197, 236, 218;
--success-color-component-300: 162, 224, 195;
--success-color-component-400: 93, 201, 151;
--success-color-component-500: 23, 178, 106;
--success-color-component-600: 21, 160, 95;
--success-color-component-700: 14, 107, 64;
--success-color-component-800: 10, 80, 48;
--success-color-component-900: 7, 53, 32;
--success-color-component-950: 5, 36, 21;
--error-color-component: 240, 68, 56;
--error-color-component-50: 254, 246, 245;
--error-color-component-100: 254, 236, 235;
--error-color-component-200: 251, 208, 205;
--error-color-component-300: 249, 180, 175;
--error-color-component-400: 245, 124, 116;
--error-color-component-500: 240, 68, 56;
--error-color-component-600: 216, 61, 50;
--error-color-component-700: 144, 41, 34;
--error-color-component-800: 108, 31, 25;
--error-color-component-900: 72, 20, 17;
--error-color-component-950: 48, 14, 11;
--warning-color-component: 247, 144, 9;
--warning-color-component-50: 255, 249, 243;
--warning-color-component-100: 254, 244, 230;
--warning-color-component-200: 253, 227, 194;
--warning-color-component-300: 252, 211, 157;
--warning-color-component-400: 249, 177, 83;
--warning-color-component-500: 247, 144, 9;
--warning-color-component-600: 222, 130, 8;
--warning-color-component-700: 148, 86, 5;
--warning-color-component-800: 111, 65, 4;
--warning-color-component-900: 74, 43, 3;
--warning-color-component-950: 49, 29, 2;
--info-color-component: 102, 112, 133;
--info-color-component-50: 247, 248, 249;
--info-color-component-100: 240, 241, 243;
--info-color-component-200: 217, 219, 225;
--info-color-component-300: 194, 198, 206;
--info-color-component-400: 148, 155, 170;
--info-color-component-500: 102, 112, 133;
--info-color-component-600: 92, 101, 120;
--info-color-component-700: 61, 67, 80;
--info-color-component-800: 46, 50, 60;
--info-color-component-900: 31, 34, 40;
--info-color-component-950: 20, 22, 27;
--neutral-color-component: 102, 112, 133;
--neutral-color-component-50: 247, 248, 249;
--neutral-color-component-100: 240, 241, 243;
--neutral-color-component-200: 217, 219, 225;
--neutral-color-component-300: 194, 198, 206;
--neutral-color-component-400: 148, 155, 170;
--neutral-color-component-500: 102, 112, 133;
--neutral-color-component-600: 92, 101, 120;
--neutral-color-component-700: 61, 67, 80;
--neutral-color-component-800: 46, 50, 60;
--neutral-color-component-900: 31, 34, 40;
--neutral-color-component-950: 20, 22, 27;
}