:root {
--primary-color-component: 228, 162, 39;
--primary-color-component-50: 254, 250, 244;
--primary-color-component-100: 252, 246, 233;
--primary-color-component-200: 248, 232, 201;
--primary-color-component-300: 244, 218, 169;
--primary-color-component-400: 236, 190, 104;
--primary-color-component-500: 228, 162, 39;
--primary-color-component-600: 205, 146, 35;
--primary-color-component-700: 137, 97, 23;
--primary-color-component-800: 103, 73, 18;
--primary-color-component-900: 68, 49, 12;
--primary-color-component-950: 46, 32, 8;
--secondary-color-component: 158, 119, 237;
--secondary-color-component-50: 250, 248, 254;
--secondary-color-component-100: 245, 241, 253;
--secondary-color-component-200: 231, 221, 251;
--secondary-color-component-300: 216, 201, 248;
--secondary-color-component-400: 187, 160, 242;
--secondary-color-component-500: 158, 119, 237;
--secondary-color-component-600: 142, 107, 213;
--secondary-color-component-700: 95, 71, 142;
--secondary-color-component-800: 71, 54, 107;
--secondary-color-component-900: 47, 36, 71;
--secondary-color-component-950: 32, 24, 47;
--success-color-component: 23, 178, 106;
--success-color-component-50: 243, 251, 248;
--success-color-component-100: 232, 247, 240;
--success-color-component-200: 197, 236, 218;
--success-color-component-300: 162, 224, 195;
--success-color-component-400: 93, 201, 151;
--success-color-component-500: 23, 178, 106;
--success-color-component-600: 21, 160, 95;
--success-color-component-700: 14, 107, 64;
--success-color-component-800: 10, 80, 48;
--success-color-component-900: 7, 53, 32;
--success-color-component-950: 5, 36, 21;
--error-color-component: 240, 68, 56;
--error-color-component-50: 254, 246, 245;
--error-color-component-100: 254, 236, 235;
--error-color-component-200: 251, 208, 205;
--error-color-component-300: 249, 180, 175;
--error-color-component-400: 245, 124, 116;
--error-color-component-500: 240, 68, 56;
--error-color-component-600: 216, 61, 50;
--error-color-component-700: 144, 41, 34;
--error-color-component-800: 108, 31, 25;
--error-color-component-900: 72, 20, 17;
--error-color-component-950: 48, 14, 11;
--warning-color-component: 247, 144, 9;
--warning-color-component-50: 255, 249, 243;
--warning-color-component-100: 254, 244, 230;
--warning-color-component-200: 253, 227, 194;
--warning-color-component-300: 252, 211, 157;
--warning-color-component-400: 249, 177, 83;
--warning-color-component-500: 247, 144, 9;
--warning-color-component-600: 222, 130, 8;
--warning-color-component-700: 148, 86, 5;
--warning-color-component-800: 111, 65, 4;
--warning-color-component-900: 74, 43, 3;
--warning-color-component-950: 49, 29, 2;
--info-color-component: 102, 112, 133;
--info-color-component-50: 247, 248, 249;
--info-color-component-100: 240, 241, 243;
--info-color-component-200: 217, 219, 225;
--info-color-component-300: 194, 198, 206;
--info-color-component-400: 148, 155, 170;
--info-color-component-500: 102, 112, 133;
--info-color-component-600: 92, 101, 120;
--info-color-component-700: 61, 67, 80;
--info-color-component-800: 46, 50, 60;
--info-color-component-900: 31, 34, 40;
--info-color-component-950: 20, 22, 27;
--neutral-color-component: 53, 79, 53;
--neutral-color-component-50: 245, 246, 245;
--neutral-color-component-100: 235, 237, 235;
--neutral-color-component-200: 205, 211, 205;
--neutral-color-component-300: 174, 185, 174;
--neutral-color-component-400: 114, 132, 114;
--neutral-color-component-500: 53, 79, 53;
--neutral-color-component-600: 48, 71, 48;
--neutral-color-component-700: 32, 47, 32;
--neutral-color-component-800: 24, 36, 24;
--neutral-color-component-900: 16, 24, 16;
--neutral-color-component-950: 11, 16, 11;
}