:root {
--primary-color: #E4A227;
--primary-color-50: #FEFAF4;
--primary-color-100: #FCF6E9;
--primary-color-200: #F8E8C9;
--primary-color-300: #F4DAA9;
--primary-color-400: #ECBE68;
--primary-color-500: #E4A227;
--primary-color-600: #CD9223;
--primary-color-700: #896117;
--primary-color-800: #674912;
--primary-color-900: #44310C;
--primary-color-950: #2E2008;
--secondary-color: #9E77ED;
--secondary-color-50: #FAF8FE;
--secondary-color-100: #F5F1FD;
--secondary-color-200: #E7DDFB;
--secondary-color-300: #D8C9F8;
--secondary-color-400: #BBA0F2;
--secondary-color-500: #9E77ED;
--secondary-color-600: #8E6BD5;
--secondary-color-700: #5F478E;
--secondary-color-800: #47366B;
--secondary-color-900: #2F2447;
--secondary-color-950: #20182F;
--success-color: #17B26A;
--success-color-50: #F3FBF8;
--success-color-100: #E8F7F0;
--success-color-200: #C5ECDA;
--success-color-300: #A2E0C3;
--success-color-400: #5DC997;
--success-color-500: #17B26A;
--success-color-600: #15A05F;
--success-color-700: #0E6B40;
--success-color-800: #0A5030;
--success-color-900: #073520;
--success-color-950: #052415;
--error-color: #F04438;
--error-color-50: #FEF6F5;
--error-color-100: #FEECEB;
--error-color-200: #FBD0CD;
--error-color-300: #F9B4AF;
--error-color-400: #F57C74;
--error-color-500: #F04438;
--error-color-600: #D83D32;
--error-color-700: #902922;
--error-color-800: #6C1F19;
--error-color-900: #481411;
--error-color-950: #300E0B;
--warning-color: #F79009;
--warning-color-50: #FFF9F3;
--warning-color-100: #FEF4E6;
--warning-color-200: #FDE3C2;
--warning-color-300: #FCD39D;
--warning-color-400: #F9B153;
--warning-color-500: #F79009;
--warning-color-600: #DE8208;
--warning-color-700: #945605;
--warning-color-800: #6F4104;
--warning-color-900: #4A2B03;
--warning-color-950: #311D02;
--info-color: #667085;
--info-color-50: #F7F8F9;
--info-color-100: #F0F1F3;
--info-color-200: #D9DBE1;
--info-color-300: #C2C6CE;
--info-color-400: #949BAA;
--info-color-500: #667085;
--info-color-600: #5C6578;
--info-color-700: #3D4350;
--info-color-800: #2E323C;
--info-color-900: #1F2228;
--info-color-950: #14161B;
--neutral-color: #354F35;
--neutral-color-50: #F5F6F5;
--neutral-color-100: #EBEDEB;
--neutral-color-200: #CDD3CD;
--neutral-color-300: #AEB9AE;
--neutral-color-400: #728472;
--neutral-color-500: #354F35;
--neutral-color-600: #304730;
--neutral-color-700: #202F20;
--neutral-color-800: #182418;
--neutral-color-900: #101810;
--neutral-color-950: #0B100B;
}