// original - all
$primary-color-50: hsl(264, 100%, 98%);
$primary-color-100: hsl(267, 100%, 96%);
$primary-color-200: hsl(268, 95%, 92%);
$primary-color-300: hsl(265, 89%, 86%);
$primary-color-400: hsl(262, 85%, 77%);
$primary-color-500: hsl(260, 77%, 70%); //
$primary-color-600: hsl(259, 63%, 59%);
$primary-color-700: hsl(258, 54%, 52%);
$primary-color-800: hsl(256, 48%, 42%);
$primary-color-900: hsl(254, 45%, 34%);
$primary-color-950: hsl(254, 54%, 24%);

// original
$primary-color-50: hsl(264, 100%, 98%);
$primary-color-100: hsl(267, 100%, 96%);
$primary-color-400: hsl(262, 85%, 77%);
$primary-color-500: hsl(260, 77%, 70%); //
$primary-color-600: hsl(259, 63%, 59%);
$primary-color-900: hsl(254, 45%, 34%);
$primary-color-950: hsl(254, 54%, 24%);

// lightness
$primary-color-50: hsl(260, 75%, 97%);
$primary-color-100: hsl(261, 74%, 94%);
$primary-color-400: hsl(260, 77%, 76%);
$primary-color-500: hsl(260, 77%, 70%);
$primary-color-600: hsl(260, 77%, 56%);
$primary-color-900: hsl(260, 77%, 14%);
$primary-color-950: hsl(260, 77%, 7%);

//saturationl
$primary-color-50: hsl(260, 100%, 97%);
$primary-color-100: hsl(261, 94%, 94%);
$primary-color-400: hsl(260, 81%, 76%);
$primary-color-500: hsl(260, 77%, 70%);
$primary-color-600: hsl(260, 61%, 56%);
$primary-color-900: hsl(262, 15%, 14%);
$primary-color-950: hsl(260, 9%, 7%);

//saturationv
$primary-color-50: hsl(262, 100%, 96%);
$primary-color-100: hsl(263, 100%, 93%);
$primary-color-400: hsl(260, 92%, 76%);
$primary-color-500: hsl(260, 77%, 70%);
$primary-color-600: hsl(260, 61%, 56%);
$primary-color-900: hsl(262, 15%, 14%);
$primary-color-950: hsl(260, 9%, 7%);

// mix
$primary-color-50: hsl(260, 75%, 97%);
$primary-color-100: hsl(261, 74%, 94%);
$primary-color-400: hsl(260, 77%, 76%);
$primary-color-500: hsl(260, 77%, 70%);
$primary-color-600: hsl(259, 44%, 58%);
$primary-color-900: hsl(247, 31%, 21%);
$primary-color-950: hsl(240, 30%, 15%);
