* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background: var(--light-color);
}

.dark-mode {
  color-scheme: dark;
}

.neb-overlay-transition {
  animation: overlay-transition var(--duration-default) forwards;
}

@keyframes overlay-transition {
  0% {
    opacity: 0.5;
    transform: translateY(var(--space-3));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast-move,
.toast-list-enter-active,
.toast-list-leave-active {
  transition: all var(--duration-slow) ease;
}
.toast-list-enter-from {
  opacity: 0;
  transform: translateX(-20%);
}
.toast-list-leave-to {
  opacity: 0;
  transform: translateX(10%);
}
.toast-list-leave-active {
  position: absolute;
}
